.book-header {
  background: url("boundless_sdk_horiz.svg") no-repeat right !important;
  background-size: 128px 50px !important;
  margin-right: 5px;
  margin-top: 5px;
}
.fa-facebook{
 	visibility: hidden;
}
.fa-twitter{
	visibility: hidden;
}
.fa-share-alt{
	visibility: hidden;
}
