input[type="range"].sdk-zoom-slider {
  cursor: pointer;
  width: 100px !important;
  -webkit-appearance: none; 
  z-index: 1; 
  width:50px; 
  border: 1px solid #e6e6e6; 
  background-color: #e6e6e6; 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2)); 
  background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2); 
  background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2); 
  background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2); 
  background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2); 
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);

  position: absolute;
  top: 120px;
  left: -30px;
}
input[type="range"].sdk-zoom-slider:focus {
  border: 0 !important; 
  outline: none !important; 
}
input[type="range"].sdk-zoom-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  width: 10px; 
  height: 10px; 
  background-color: #555; 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4DDBFF), to(#00CCFF)); 
  background-image: -webkit-linear-gradient(right, #4DDBFF, #00CCFF); 
  background-image: -moz-linear-gradient(right, #4DDBFF, #00CCFF); 
  background-image: -ms-linear-gradient(right, #4DDBFF, #00CCFF); 
  background-image: -o-linear-gradient(right, #4DDBFF, #00CCFF); 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  -o-border-radius: 5px; 
}
