// Inspired by https://github.com/darlanrod/input-range-sass

$track-color: $sdk-grey !default;
$thumb-color: $sdk-blue !default;

$thumb-radius: 4px !default;
$thumb-height: 22px !default;
$thumb-width: 14px !default;
$thumb-shadow-size: 0px !default;
$thumb-shadow-blur: 0px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 1px !default;
$thumb-border-color: #ffffff !default;

$track-width: 201px !default;
$track-height: 24px !default;
$track-shadow-size: 0px !default;
$track-shadow-blur: 0px !default;
$track-shadow-color: rgba(0, 0, 0, 0) !default;
$track-border-width: 1px !default;
$track-border-color: #b4b4b4 !default;

$track-radius: 4px !default;
$contrast: 5% !default;

// Position
$slider-top: 160px;
$slider-left: -75px;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: pointer;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  // @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  cursor: pointer;
  height: $thumb-height;
  width: $thumb-width;
}


.controls {
  .sdk-slider-control {
    z-index: 1;
    position: absolute;
    top: $slider-top;
    left: $slider-left;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform:rotate(-90deg);

    input[type=range] {
      background-color: transparent;
      -webkit-appearance: none;
      width: $track-width;
      &:focus {
        outline: 0;
      }

      &::-webkit-slider-runnable-track {
        @include track;
        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius;
      }

      &::-webkit-slider-thumb {
        @include thumb;
        -webkit-appearance: none;
      }

      &::-moz-range-track {
        @include track;

        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius;
      }

      &::-moz-range-thumb {
        @include thumb;
      }

      &::-ms-track {
        @include track;
        background: transparent;
        border-color: transparent;
        border-width: ($thumb-height / 2) 0;
        color: transparent;
      }

      &::-ms-fill-lower {

        background: darken($track-color, $contrast);
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius * 2;
      }

      &::-ms-fill-upper {

        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius * 2;
      }

      &::-ms-thumb {
        @include thumb;
        margin-top: 0;
      }
    }
  }
}

@-moz-document url-prefix() {
    .controls {
        .sdk-slider-control {
          top: calc(#{$slider-top} + 4px);
        }
    }
}
