/*
 * Include the SDK stylesheet
 */
@import '~ol/ol.css';
@import 'popup';

$sdk-orange: #f58d50;
$sdk-blue: #29728d;
$sdk-green: #bbd34a;
$sdk-grey: #ededed;

// Palette

$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #8BC34A;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;




/** SDK button. */
button.sdk-btn {
  background-color: $sdk-orange;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
}

/** some OpenLayers styling tweaks */
.ol-control {
  // background: $divider-color;
  button {
    background-color: #f1f1f1;
    color: #333333;
    // border-color: $divider-color;
    border: solid 1px $divider-color;
    border-radius: 10px;
    margin: 0;
    &:last-child {
      // border-top: ;
    }
    &:hover {
      // border: none;
      color: #f1f1f1;
      background-color: $divider-color;
    }
    &.active {
      background-color: $divider-color;
    }
    &:focus {
      color: #333333;
      background-color: #f1f1f1;
    }
  }
}


// .ol-control button {
//     background-color: rgba($sdk-blue, .8);
//
//     &:hover {
//         background-color: rgba($sdk-blue, .9);
//     }
// }
