/*
 * Basic styling for some form elements.
 */

input.radius {
    width: 3em;
}

span.input {
    width: 4em;
    text-align: center;
}

html,
body {
  height: 100%;
}

a {
  color: inherit;
}

.interior {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: 9999;
}

.modal-window {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  user-select:text;
}

.modal-window>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.modal-window header {
  font-weight: bold;
}

.modal-window .coords {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
