/**
 * sdk Buttons
 */

@mixin x-btn-box-shadow-raised() {
  box-shadow: 0 0px 2px rgba(sdk-color('black'), 0.12),
              0 2px 2px rgba(sdk-color('black'), 0.20);
  
  // IE10+
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    box-shadow: 0 -1px 2px rgba(sdk-color('black'), 0.12),
                -1px 0px 2px rgba(sdk-color('black'), 0.12),
                0 0px 2px rgba(sdk-color('black'), 0.12),
                0 2px 2px rgba(sdk-color('black'), 0.20);
  }

  // Edge
  @supports (-ms-ime-align:auto) {
    box-shadow: 0 -1px 2px rgba(sdk-color('black'), 0.12),
                -1px 0px 2px rgba(sdk-color('black'), 0.12),
                0 0px 2px rgba(sdk-color('black'), 0.12),
                0 2px 2px rgba(sdk-color('black'), 0.20);
  }
}

@mixin x-btn-box-shadow-active() {
  box-shadow: 0 0px 4px rgba(sdk-color('black'), 0.12),
              1px 3px 4px rgba(sdk-color('black'), 0.20);
  
  // IE10+
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    box-shadow: 0 -1px 2px rgba(sdk-color('black'), 0.12),
                -1px 0px 2px rgba(sdk-color('black'), 0.12),
                0 0px 4px rgba(sdk-color('black'), 0.12),
                1px 3px 4px rgba(sdk-color('black'), 0.20);
  }

  // Edge
  @supports (-ms-ime-align:auto) {
    box-shadow: 0 -1px 2px rgba(sdk-color('black'), 0.12),
                -1px 0px 2px rgba(sdk-color('black'), 0.12),
                0 0px 4px rgba(sdk-color('black'), 0.12),
                1px 3px 4px rgba(sdk-color('black'), 0.20);
  }
}

// ============================================================================
// DEFAULT-BUTTON
// ============================================================================

.sdk-btn {
  @include sdk-text("button");

  @include button-variant(
    $sdk-btn-default-font-color,
    $sdk-btn-default-bg-color);

  @include button-flat-variant(
    $sdk-btn-default-font-color,
    $sdk-btn-flat-bg-color-hover);

  transition: all 0.2s ease-in-out;
  
  // Layout
  display: inline-block;
  height: $sdk-btn-height;
  padding: 0 $sdk-btn-padding-horizontal;
  margin: $sdk-btn-margin-vertical 0;
  
  // Look and feel
  border: none;
  border-radius: $sdk-btn-border-radius;
  cursor: pointer;
  touch-action: manipulation;
  background-image: none;  // reset unusual Firefox-on-Android

  // Typography
  text-align: center;
  line-height: $sdk-btn-height;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  font-size: $sdk-btn-font-size;
  font-family: inherit;
  letter-spacing: 0.03em;

  // For ripples
  position: relative;
  overflow: hidden;
  
  &:hover,
  &:focus,
  &:active {
    outline: 0;
    text-decoration: none;
    color: $sdk-btn-default-font-color;
  }

  &:hover,
  &:focus {
    @include x-btn-box-shadow-raised();
  }
  
  &:active:hover {
    @include x-btn-box-shadow-active();
  }

  &:disabled,
  &.sdk--is-disabled {
    cursor: $sdk-cursor-disabled;
    pointer-events: none;
    opacity: 0.60;
    box-shadow: none;
  }
}

.sdk-btn + .sdk-btn {
  margin-left: $sdk-btn-spacing-horizontal;
}



// ============================================================================
// BUTTON-TYPES
// ============================================================================


// ----------------------------------------------------------------------------
// FLAT
// ----------------------------------------------------------------------------

.sdk-btn--flat {
  background-color: $sdk-btn-flat-bg-color;

  &:hover,
  &:focus,
  &:active,
  &:active:hover {
    box-shadow: none;
    background-color: $sdk-btn-flat-bg-color-hover;
  }
}


// ----------------------------------------------------------------------------
// RAISED
// ----------------------------------------------------------------------------

.sdk-btn--raised {
  @include x-btn-box-shadow-raised();

  &:active {
    @include x-btn-box-shadow-active();
  }
}


// ----------------------------------------------------------------------------
// FLOATING-ACTION-BUTTON-(FAB)
// ----------------------------------------------------------------------------

.sdk-btn--fab {
  @extend .sdk-btn--raised;

  // Layout
  position: relative;
  padding: 0;
  width: $sdk-btn-fab-diameter;
  height: $sdk-btn-fab-diameter;
  line-height: $sdk-btn-fab-diameter;
  border-radius: 50%;
  z-index: 1;
}



// ============================================================================
// BUTTON-STYLES
// ============================================================================

.sdk-btn--primary {
  @include button-variant(
    $sdk-btn-primary-font-color,
    $sdk-btn-primary-bg-color);
  @include button-flat-variant(
    $sdk-btn-primary-bg-color,
    $sdk-btn-flat-bg-color-hover);
}

.sdk-btn--dark {
  @include button-variant(
    $sdk-btn-dark-font-color,
    $sdk-btn-dark-bg-color);
  @include button-flat-variant(
    $sdk-btn-dark-bg-color,
    $sdk-btn-flat-bg-color-hover);
}

.sdk-btn--danger {
  @include button-variant(
    $sdk-btn-danger-font-color,
    $sdk-btn-danger-bg-color);
  @include button-flat-variant(
    $sdk-btn-danger-bg-color,
    $sdk-btn-flat-bg-color-hover);
}

.sdk-btn--accent {
  @include button-variant(
    $sdk-btn-accent-font-color,
    $sdk-btn-accent-bg-color);
  @include button-flat-variant(
    $sdk-btn-accent-bg-color,
    $sdk-btn-flat-bg-color-hover);
}



// ============================================================================
// BUTTON-SIZES
// ============================================================================

.sdk-btn--small {
  height: $sdk-btn-height-sm;
  line-height: $sdk-btn-height-sm;
  padding: 0 $sdk-btn-padding-horizontal-sm;
  font-size: $sdk-btn-font-size-sm;
}

.sdk-btn--large {
  height: $sdk-btn-height-lg;
  line-height: $sdk-btn-height-lg;
  padding: 0 $sdk-btn-padding-horizontal-lg;
  font-size: $sdk-btn-font-size-lg;
}

.sdk-btn--fab.sdk-btn--small {
  width: $sdk-btn-fab-diameter-sm;
  height: $sdk-btn-fab-diameter-sm;
  line-height: $sdk-btn-fab-diameter-sm;
}

.sdk-btn--fab.sdk-btn--large {
  width: $sdk-btn-fab-diameter-lg;
  height: $sdk-btn-fab-diameter-lg;
  line-height: $sdk-btn-fab-diameter-lg;
}
