/**
 * sdk Dropdown module
 */

// ============================================================================
// MAIN COMPONENT
// ============================================================================
.sdk-dropdown {
  display: inline-block;
  position: relative;
}

// Toggle element
[data-sdk-toggle="dropdown"] {
  outline: 0;
}




// ============================================================================
// MENU ELEMENT
// ============================================================================
.sdk-dropdown__menu {
  @extend .sdk--z1;

  // IE10+ bugfix
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    border-top: 1px solid rgba(sdk-color('black'), 0.12);
    border-left: 1px solid rgba(sdk-color('black'), 0.12);
  }

  // Edge
  @supports (-ms-ime-align:auto) {
    border-top: 1px solid rgba(sdk-color('black'), 0.12);
    border-left: 1px solid rgba(sdk-color('black'), 0.12);
  }

  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;  // override default ul
  list-style: none;
  font-size: $sdk-base-font-size;
  text-align: left;
  background-color: $sdk-dropdown-bg-color;
  border-radius: $sdk-dropdown-border-radius;
  z-index: 1;
  background-clip: padding-box;

  // open state
  &.sdk--is-open {
    display: block;
  }
  
  // links within the dropdown menu
  > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $sdk-base-line-height;
    color: $sdk-dropdown-link-font-color;
    text-decoration: none;
    white-space: nowrap; 
                         
    // hover & focus state
    &:hover,
    &:focus {
      text-decoration: none;
      color: $sdk-dropdown-link-font-color-hover;
      background-color: $sdk-dropdown-link-bg-color-hover;
    }
  }

  > .sdk--is-disabled > a {
    &,
    &:hover,
    &:focus {
      color: $sdk-dropdown-link-font-color-disabled;
    }
    
    // nuke hover & focus effects
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: transparent;
      background-image: none;
      cursor: $sdk-cursor-disabled;
    }
  }
}

// right align
.sdk-dropdown__menu--right {
  left: auto;
  right: 0;
}
