/**
 * sdk Form Component
 */

.sdk-form {
  legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: $sdk-base-line-height-computed / 2;
    font-size: $sdk-form-legend-font-size;
    color: $sdk-form-legend-font-color;
    line-height: inherit;
    border: 0;
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 0 0 $sdk-form-group-margin-bottom 0;
  }
}

.sdk-form--inline {
  @media (min-width: $sdk-screen-sm-min) {
    .sdk-textfield {
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 0;
    }

    .sdk-radio,
    .sdk-checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;

      > label {
        padding-left: 0;
      }
    }

    .sdk-radio > label > input[type="radio"],
    .sdk-checkbox > label > input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }

    .sdk-select {
      display: inline-block;
    }

    .sdk-btn {
      margin-bottom: 0;
      margin-top: 0;
      vertical-align: bottom;
    }
  }
}
