/**
 * sdk Ripple module
 */

.sdk-btn__ripple-container {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.sdk-ripple {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.0001, 0.0001);

  &.sdk--is-animating {
    transform: none;
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1),
                width 0.3s cubic-bezier(0, 0, 0.2, 1),
                height 0.3s cubic-bezier(0, 0, 0.2, 1),
                opacity 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &.sdk--is-visible {
    opacity: 0.3;
  }
}

.sdk-btn .sdk-ripple {
  background-color: $sdk-btn-default-ripple-color;
}

.sdk-btn--primary .sdk-ripple {
  background-color: $sdk-btn-primary-ripple-color;
}

.sdk-btn--dark .sdk-ripple {
  background-color: $sdk-btn-dark-ripple-color;
}

.sdk-btn--danger .sdk-ripple {
  background-color: $sdk-btn-danger-ripple-color;
}

.sdk-btn--accent .sdk-ripple {
  background-color: $sdk-btn-accent-ripple-color;
}

.sdk-btn--flat .sdk-ripple {
  background-color: $sdk-btn-flat-ripple-color;
}
