/**
 * sdk Select Component
 */

$xFormLabelLineHeight: floor($sdk-label-font-size * 1.25);


.sdk-select {
  display: block;
  padding-top: $xFormLabelLineHeight;
  margin-bottom: $sdk-form-group-margin-bottom;
  position: relative;

  &:focus {
    outline: 0;

    > select {
      height: $sdk-input-height + 1px;
      margin-bottom: -1px;
      border-color: $sdk-input-border-color-focus;
      border-width: 2px;
    }
  }

  > select {
    // Layout
    display: block;
    height: $sdk-input-height;
    width: 100%;

    // Look and feel
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    border-bottom: 1px solid $sdk-input-border-color;
    border-radius: 0px;
    box-shadow: none;
    background-color: $sdk-input-bg-color;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNiIgd2lkdGg9IjEwIj48cG9seWdvbiBwb2ludHM9IjAsMCAxMCwwIDUsNiIgc3R5bGU9ImZpbGw6cmdiYSgwLDAsMCwuMjQpOyIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;

    // Typography
    color: $sdk-input-font-color;
    font-size: $sdk-input-font-size;
    font-family: inherit;
    line-height: inherit;

    padding: 0 25px 0 0;

    &::-ms-expand {
      display: none;  // For IE
    }

    &:focus {
      outline: 0;
      height: $sdk-input-height + 1px;
      margin-bottom: -1px;
      border-color: $sdk-input-border-color-focus;
      border-width: 2px;
    }

    &:disabled {
      color: sdk-color('black-alpha-38');
      cursor: $sdk-cursor-disabled;
      background-color: $sdk-input-bg-color-disabled;
      opacity: 1;  // iOS fix for unreadable disabled content
    }

    // disable focus ring in Firefox
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    // prevent IE background color
    &:focus::-ms-value {
      background: none;
      color: $sdk-text-dark;
    }
  }

  > label {
    @include form-label();
  }
}

.sdk-select:focus > label,
.sdk-select > select:focus ~ label {
  color: $sdk-input-border-color-focus;
}

.sdk-select__menu {
  @extend .sdk--z1;

  // Positioning
  position: absolute;
  z-index: 2;

  // Display
  min-width: 100%;
  overflow-y: auto;
  padding: 8px 0;

  // Other
  background-color: sdk-color('white');
  font-size: $sdk-input-font-size;

  // IE10+ bugfix
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    border-left: 1px solid sdk-color('black-alpha-12');
    border-top: 1px solid sdk-color('black-alpha-12');
  }

  // Edge bugfix
  @supports (-ms-ime-align:auto) {
    border-left: 1px solid sdk-color('black-alpha-12');
    border-top: 1px solid sdk-color('black-alpha-12');
  }

  > div {
    padding: 0 22px;
    height: $sdk-input-font-size + 26px;
    line-height: $sdk-input-font-size + 26px;
    cursor: pointer;
    white-space: nowrap;

    &.sdk--is-selected {
      background-color: sdk-color('grey', '200');
    }

    &.sdk--is-disabled {
      color: $sdk-text-dark-hint;
      cursor: $sdk-cursor-disabled;
    }

    &:not(.sdk-optgroup__label):not(.sdk--is-disabled):hover {
      background-color: sdk-color('grey', '300');
    }
  }
}

.sdk-optgroup__option {
  text-indent: 1em;
}

.sdk-optgroup__label {
  color: $sdk-text-dark-secondary;
  font-size: 0.9em;
}
