/**
 * sdk Divider Component and CSS Helpers
 */

.sdk-divider {
  display: block;
  height: 1px;
  background-color: $sdk-divider-color;
}

.sdk--divider-top {
  border-top: 1px solid $sdk-divider-color;
}

.sdk--divider-bottom {
  border-bottom: 1px solid $sdk-divider-color;
}

.sdk--divider-left {
  border-left: 1px solid $sdk-divider-color;
}

.sdk--divider-right {
  border-right: 1px solid $sdk-divider-color;
}
