// Begin styles for the menuItems in the Drawer Component
.menuItem {
  .statusIcons {
    // background-color: blue;
    display: flex;
    i {
      width: 24px;
    }
    .content {
      flex: 1;
    }
    .caret {
      &.down {}
      &.up {}
    }
  }
  .viz {
    &.closed {

    }
  }
  .fixedContainer {
    top: 16px !important;
    // background-color: green;
    width: 78px;
    display: flex !important;
    i {
      flex: 1;
    }
  }
  .settings {

  }
  .zoomTo {

  }
}
.menuItem + div {
  padding: 0 0 0 10px !important;
}
.noBorderPaper {
  margin: 20px;
}
