/**
 * sdk Colors module
 */
/**
 * sdk Globals
 */
.sdk-textfield > input,
.sdk-textfield > textarea,
.sdk-select > select {
  margin: 0; }

.sdk-textfield > input {
  overflow: visible; }

button.sdk-btn::-moz-focus-inner,
.sdk-btn[type="button"]::-moz-focus-inner,
.sdk-btn[type="reset"]::-moz-focus-inner,
.sdk-btn[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button.sdk-btn:-moz-focusring,
.sdk-btn[type="button"]:-moz-focusring,
.sdk-btn[type="reset"]:-moz-focusring,
.sdk-btn[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

.sdk-textfield > textarea {
  overflow: auto; }

.sdk-radio input,
.sdk-checkbox input {
  box-sizing: border-box;
  padding: 0; }

/**
 * sdk Appbar
 */
.sdk--appbar-height {
  height: 56px; }

.sdk--appbar-min-height, .sdk-appbar {
  min-height: 56px; }

.sdk--appbar-line-height {
  line-height: 56px; }

.sdk--appbar-top {
  top: 56px; }

@media (orientation: landscape) and (max-height: 480px) {
  .sdk--appbar-height {
    height: 48px; }
  .sdk--appbar-min-height, .sdk-appbar {
    min-height: 48px; }
  .sdk--appbar-line-height {
    line-height: 48px; }
  .sdk--appbar-top {
    top: 48px; } }

@media (min-width: 480px) {
  .sdk--appbar-height {
    height: 64px; }
  .sdk--appbar-min-height, .sdk-appbar {
    min-height: 64px; }
  .sdk--appbar-line-height {
    line-height: 64px; }
  .sdk--appbar-top {
    top: 64px; } }

.sdk-appbar {
  background-color: #2196F3;
  color: #FFF; }

/**
 * sdk Buttons
 */
.sdk-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFF;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  height: 36px;
  padding: 0 26px;
  margin: 6px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  font-size: 14px;
  font-family: inherit;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden; }
  .sdk-btn:hover, .sdk-btn:focus, .sdk-btn:active {
    color: rgba(0, 0, 0, 0.87);
    background-color: white; }
  .sdk-btn[disabled]:hover, .sdk-btn[disabled]:focus, .sdk-btn[disabled]:active {
    color: rgba(0, 0, 0, 0.87);
    background-color: #FFF; }
  .sdk-btn.sdk-btn--flat {
    color: rgba(0, 0, 0, 0.87);
    background-color: transparent; }
    .sdk-btn.sdk-btn--flat:hover, .sdk-btn.sdk-btn--flat:focus, .sdk-btn.sdk-btn--flat:active {
      color: rgba(0, 0, 0, 0.87);
      background-color: #f2f2f2; }
    .sdk-btn.sdk-btn--flat[disabled]:hover, .sdk-btn.sdk-btn--flat[disabled]:focus, .sdk-btn.sdk-btn--flat[disabled]:active {
      color: rgba(0, 0, 0, 0.87);
      background-color: transparent; }
  .sdk-btn:hover, .sdk-btn:focus, .sdk-btn:active {
    outline: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87); }
  .sdk-btn:hover, .sdk-btn:focus {
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .sdk-btn:hover, .sdk-btn:focus {
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); } }
    @supports (-ms-ime-align: auto) {
      .sdk-btn:hover, .sdk-btn:focus {
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); } }
  .sdk-btn:active:hover {
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2); }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .sdk-btn:active:hover {
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2); } }
    @supports (-ms-ime-align: auto) {
      .sdk-btn:active:hover {
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2); } }
  .sdk-btn:disabled, .sdk-btn.sdk--is-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.60;
    box-shadow: none; }

.sdk-btn + .sdk-btn {
  margin-left: 8px; }

.sdk-btn--flat {
  background-color: transparent; }
  .sdk-btn--flat:hover, .sdk-btn--flat:focus, .sdk-btn--flat:active, .sdk-btn--flat:active:hover {
    box-shadow: none;
    background-color: #f2f2f2; }

.sdk-btn--raised, .sdk-btn--fab {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .sdk-btn--raised, .sdk-btn--fab {
      box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); } }
  @supports (-ms-ime-align: auto) {
    .sdk-btn--raised, .sdk-btn--fab {
      box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); } }
  .sdk-btn--raised:active, .sdk-btn--fab:active {
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2); }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .sdk-btn--raised:active, .sdk-btn--fab:active {
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2); } }
    @supports (-ms-ime-align: auto) {
      .sdk-btn--raised:active, .sdk-btn--fab:active {
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2); } }

.sdk-btn--fab {
  position: relative;
  padding: 0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  z-index: 1; }

.sdk-btn--primary {
  color: #FFF;
  background-color: #2196F3; }
  .sdk-btn--primary:hover, .sdk-btn--primary:focus, .sdk-btn--primary:active {
    color: #FFF;
    background-color: #39a1f4; }
  .sdk-btn--primary[disabled]:hover, .sdk-btn--primary[disabled]:focus, .sdk-btn--primary[disabled]:active {
    color: #FFF;
    background-color: #2196F3; }
  .sdk-btn--primary.sdk-btn--flat {
    color: #2196F3;
    background-color: transparent; }
    .sdk-btn--primary.sdk-btn--flat:hover, .sdk-btn--primary.sdk-btn--flat:focus, .sdk-btn--primary.sdk-btn--flat:active {
      color: #2196F3;
      background-color: #f2f2f2; }
    .sdk-btn--primary.sdk-btn--flat[disabled]:hover, .sdk-btn--primary.sdk-btn--flat[disabled]:focus, .sdk-btn--primary.sdk-btn--flat[disabled]:active {
      color: #2196F3;
      background-color: transparent; }

.sdk-btn--dark {
  color: #FFF;
  background-color: #424242; }
  .sdk-btn--dark:hover, .sdk-btn--dark:focus, .sdk-btn--dark:active {
    color: #FFF;
    background-color: #4f4f4f; }
  .sdk-btn--dark[disabled]:hover, .sdk-btn--dark[disabled]:focus, .sdk-btn--dark[disabled]:active {
    color: #FFF;
    background-color: #424242; }
  .sdk-btn--dark.sdk-btn--flat {
    color: #424242;
    background-color: transparent; }
    .sdk-btn--dark.sdk-btn--flat:hover, .sdk-btn--dark.sdk-btn--flat:focus, .sdk-btn--dark.sdk-btn--flat:active {
      color: #424242;
      background-color: #f2f2f2; }
    .sdk-btn--dark.sdk-btn--flat[disabled]:hover, .sdk-btn--dark.sdk-btn--flat[disabled]:focus, .sdk-btn--dark.sdk-btn--flat[disabled]:active {
      color: #424242;
      background-color: transparent; }

.sdk-btn--danger {
  color: #FFF;
  background-color: #F44336; }
  .sdk-btn--danger:hover, .sdk-btn--danger:focus, .sdk-btn--danger:active {
    color: #FFF;
    background-color: #f55a4e; }
  .sdk-btn--danger[disabled]:hover, .sdk-btn--danger[disabled]:focus, .sdk-btn--danger[disabled]:active {
    color: #FFF;
    background-color: #F44336; }
  .sdk-btn--danger.sdk-btn--flat {
    color: #F44336;
    background-color: transparent; }
    .sdk-btn--danger.sdk-btn--flat:hover, .sdk-btn--danger.sdk-btn--flat:focus, .sdk-btn--danger.sdk-btn--flat:active {
      color: #F44336;
      background-color: #f2f2f2; }
    .sdk-btn--danger.sdk-btn--flat[disabled]:hover, .sdk-btn--danger.sdk-btn--flat[disabled]:focus, .sdk-btn--danger.sdk-btn--flat[disabled]:active {
      color: #F44336;
      background-color: transparent; }

.sdk-btn--accent {
  color: #FFF;
  background-color: #FF4081; }
  .sdk-btn--accent:hover, .sdk-btn--accent:focus, .sdk-btn--accent:active {
    color: #FFF;
    background-color: #ff5a92; }
  .sdk-btn--accent[disabled]:hover, .sdk-btn--accent[disabled]:focus, .sdk-btn--accent[disabled]:active {
    color: #FFF;
    background-color: #FF4081; }
  .sdk-btn--accent.sdk-btn--flat {
    color: #FF4081;
    background-color: transparent; }
    .sdk-btn--accent.sdk-btn--flat:hover, .sdk-btn--accent.sdk-btn--flat:focus, .sdk-btn--accent.sdk-btn--flat:active {
      color: #FF4081;
      background-color: #f2f2f2; }
    .sdk-btn--accent.sdk-btn--flat[disabled]:hover, .sdk-btn--accent.sdk-btn--flat[disabled]:focus, .sdk-btn--accent.sdk-btn--flat[disabled]:active {
      color: #FF4081;
      background-color: transparent; }

.sdk-btn--small {
  height: 30.6px;
  line-height: 30.6px;
  padding: 0 16px;
  font-size: 13px; }

.sdk-btn--large {
  height: 54px;
  line-height: 54px;
  padding: 0 26px;
  font-size: 14px; }

.sdk-btn--fab.sdk-btn--small {
  width: 44px;
  height: 44px;
  line-height: 44px; }

.sdk-btn--fab.sdk-btn--large {
  width: 75px;
  height: 75px;
  line-height: 75px; }

/**
 * sdk Checkboxe and Radio Components
 */
.sdk-radio,
.sdk-checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }
  .sdk-radio > label,
  .sdk-checkbox > label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer; }
  .sdk-radio input:disabled,
  .sdk-checkbox input:disabled {
    cursor: not-allowed; }
  .sdk-radio input:focus,
  .sdk-checkbox input:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

.sdk-radio > label > input[type="radio"],
.sdk-radio--inline > label > input[type="radio"],
.sdk-checkbox > label > input[type="checkbox"],
.sdk-checkbox--inline > label > input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px; }

.sdk-radio + .sdk-radio,
.sdk-checkbox + .sdk-checkbox {
  margin-top: -5px; }

.sdk-radio--inline,
.sdk-checkbox--inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer; }
  .sdk-radio--inline > input[type="radio"],
  .sdk-radio--inline > input[type="checkbox"],
  .sdk-radio--inline > label > input[type="radio"],
  .sdk-radio--inline > label > input[type="checkbox"],
  .sdk-checkbox--inline > input[type="radio"],
  .sdk-checkbox--inline > input[type="checkbox"],
  .sdk-checkbox--inline > label > input[type="radio"],
  .sdk-checkbox--inline > label > input[type="checkbox"] {
    margin: 4px 0 0;
    line-height: normal; }

.sdk-radio--inline + .sdk-radio--inline,
.sdk-checkbox--inline + .sdk-checkbox--inline {
  margin-top: 0;
  margin-left: 10px; }

/**
 * sdk Container module
 */
.sdk-container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .sdk-container:before, .sdk-container:after {
    content: " ";
    display: table; }
  .sdk-container:after {
    clear: both; }
  @media (min-width: 544px) {
    .sdk-container {
      max-width: 570px; } }
  @media (min-width: 768px) {
    .sdk-container {
      max-width: 740px; } }
  @media (min-width: 992px) {
    .sdk-container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .sdk-container {
      max-width: 1170px; } }

.sdk-container-fluid {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .sdk-container-fluid:before, .sdk-container-fluid:after {
    content: " ";
    display: table; }
  .sdk-container-fluid:after {
    clear: both; }

/**
 * sdk Divider Component and CSS Helpers
 */
.sdk-divider {
  display: block;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12); }

.sdk--divider-top {
  border-top: 1px solid rgba(0, 0, 0, 0.12); }

.sdk--divider-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.sdk--divider-left {
  border-left: 1px solid rgba(0, 0, 0, 0.12); }

.sdk--divider-right {
  border-right: 1px solid rgba(0, 0, 0, 0.12); }

/**
 * sdk Dropdown module
 */
.sdk-dropdown {
  display: inline-block;
  position: relative; }

[data-sdk-toggle="dropdown"] {
  outline: 0; }

.sdk-dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #FFF;
  border-radius: 2px;
  z-index: 1;
  background-clip: padding-box; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .sdk-dropdown__menu {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      border-left: 1px solid rgba(0, 0, 0, 0.12); } }
  @supports (-ms-ime-align: auto) {
    .sdk-dropdown__menu {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      border-left: 1px solid rgba(0, 0, 0, 0.12); } }
  .sdk-dropdown__menu.sdk--is-open {
    display: block; }
  .sdk-dropdown__menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.429;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    white-space: nowrap; }
    .sdk-dropdown__menu > li > a:hover, .sdk-dropdown__menu > li > a:focus {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.87);
      background-color: #EEEEEE; }
  .sdk-dropdown__menu > .sdk--is-disabled > a, .sdk-dropdown__menu > .sdk--is-disabled > a:hover, .sdk-dropdown__menu > .sdk--is-disabled > a:focus {
    color: #EEEEEE; }
  .sdk-dropdown__menu > .sdk--is-disabled > a:hover, .sdk-dropdown__menu > .sdk--is-disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    cursor: not-allowed; }

.sdk-dropdown__menu--right {
  left: auto;
  right: 0; }

/**
 * sdk Form Component
 */
.sdk-form legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.87);
  line-height: inherit;
  border: 0; }

.sdk-form fieldset {
  border: 0;
  padding: 0;
  margin: 0 0 20px 0; }

@media (min-width: 544px) {
  .sdk-form--inline .sdk-textfield {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0; }
  .sdk-form--inline .sdk-radio,
  .sdk-form--inline .sdk-checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }
    .sdk-form--inline .sdk-radio > label,
    .sdk-form--inline .sdk-checkbox > label {
      padding-left: 0; }
  .sdk-form--inline .sdk-radio > label > input[type="radio"],
  .sdk-form--inline .sdk-checkbox > label > input[type="checkbox"] {
    position: relative;
    margin-left: 0; }
  .sdk-form--inline .sdk-select {
    display: inline-block; }
  .sdk-form--inline .sdk-btn {
    margin-bottom: 0;
    margin-top: 0;
    vertical-align: bottom; } }

/**
 * sdk Grid module
 */
.sdk-row {
  margin-left: -15px;
  margin-right: -15px; }
  .sdk-row:before, .sdk-row:after {
    content: " ";
    display: table; }
  .sdk-row:after {
    clear: both; }

.sdk-col-xs-1, .sdk-col-sm-1, .sdk-col-md-1, .sdk-col-lg-1, .sdk-col-xs-2, .sdk-col-sm-2, .sdk-col-md-2, .sdk-col-lg-2, .sdk-col-xs-3, .sdk-col-sm-3, .sdk-col-md-3, .sdk-col-lg-3, .sdk-col-xs-4, .sdk-col-sm-4, .sdk-col-md-4, .sdk-col-lg-4, .sdk-col-xs-5, .sdk-col-sm-5, .sdk-col-md-5, .sdk-col-lg-5, .sdk-col-xs-6, .sdk-col-sm-6, .sdk-col-md-6, .sdk-col-lg-6, .sdk-col-xs-7, .sdk-col-sm-7, .sdk-col-md-7, .sdk-col-lg-7, .sdk-col-xs-8, .sdk-col-sm-8, .sdk-col-md-8, .sdk-col-lg-8, .sdk-col-xs-9, .sdk-col-sm-9, .sdk-col-md-9, .sdk-col-lg-9, .sdk-col-xs-10, .sdk-col-sm-10, .sdk-col-md-10, .sdk-col-lg-10, .sdk-col-xs-11, .sdk-col-sm-11, .sdk-col-md-11, .sdk-col-lg-11, .sdk-col-xs-12, .sdk-col-sm-12, .sdk-col-md-12, .sdk-col-lg-12 {
  box-sizing: border-box;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.sdk-col-xs-1, .sdk-col-xs-2, .sdk-col-xs-3, .sdk-col-xs-4, .sdk-col-xs-5, .sdk-col-xs-6, .sdk-col-xs-7, .sdk-col-xs-8, .sdk-col-xs-9, .sdk-col-xs-10, .sdk-col-xs-11, .sdk-col-xs-12 {
  float: left; }

.sdk-col-xs-1 {
  width: 8.33333%; }

.sdk-col-xs-2 {
  width: 16.66667%; }

.sdk-col-xs-3 {
  width: 25%; }

.sdk-col-xs-4 {
  width: 33.33333%; }

.sdk-col-xs-5 {
  width: 41.66667%; }

.sdk-col-xs-6 {
  width: 50%; }

.sdk-col-xs-7 {
  width: 58.33333%; }

.sdk-col-xs-8 {
  width: 66.66667%; }

.sdk-col-xs-9 {
  width: 75%; }

.sdk-col-xs-10 {
  width: 83.33333%; }

.sdk-col-xs-11 {
  width: 91.66667%; }

.sdk-col-xs-12 {
  width: 100%; }

.sdk-col-xs-offset-0 {
  margin-left: 0%; }

.sdk-col-xs-offset-1 {
  margin-left: 8.33333%; }

.sdk-col-xs-offset-2 {
  margin-left: 16.66667%; }

.sdk-col-xs-offset-3 {
  margin-left: 25%; }

.sdk-col-xs-offset-4 {
  margin-left: 33.33333%; }

.sdk-col-xs-offset-5 {
  margin-left: 41.66667%; }

.sdk-col-xs-offset-6 {
  margin-left: 50%; }

.sdk-col-xs-offset-7 {
  margin-left: 58.33333%; }

.sdk-col-xs-offset-8 {
  margin-left: 66.66667%; }

.sdk-col-xs-offset-9 {
  margin-left: 75%; }

.sdk-col-xs-offset-10 {
  margin-left: 83.33333%; }

.sdk-col-xs-offset-11 {
  margin-left: 91.66667%; }

.sdk-col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 544px) {
  .sdk-col-sm-1, .sdk-col-sm-2, .sdk-col-sm-3, .sdk-col-sm-4, .sdk-col-sm-5, .sdk-col-sm-6, .sdk-col-sm-7, .sdk-col-sm-8, .sdk-col-sm-9, .sdk-col-sm-10, .sdk-col-sm-11, .sdk-col-sm-12 {
    float: left; }
  .sdk-col-sm-1 {
    width: 8.33333%; }
  .sdk-col-sm-2 {
    width: 16.66667%; }
  .sdk-col-sm-3 {
    width: 25%; }
  .sdk-col-sm-4 {
    width: 33.33333%; }
  .sdk-col-sm-5 {
    width: 41.66667%; }
  .sdk-col-sm-6 {
    width: 50%; }
  .sdk-col-sm-7 {
    width: 58.33333%; }
  .sdk-col-sm-8 {
    width: 66.66667%; }
  .sdk-col-sm-9 {
    width: 75%; }
  .sdk-col-sm-10 {
    width: 83.33333%; }
  .sdk-col-sm-11 {
    width: 91.66667%; }
  .sdk-col-sm-12 {
    width: 100%; }
  .sdk-col-sm-offset-0 {
    margin-left: 0%; }
  .sdk-col-sm-offset-1 {
    margin-left: 8.33333%; }
  .sdk-col-sm-offset-2 {
    margin-left: 16.66667%; }
  .sdk-col-sm-offset-3 {
    margin-left: 25%; }
  .sdk-col-sm-offset-4 {
    margin-left: 33.33333%; }
  .sdk-col-sm-offset-5 {
    margin-left: 41.66667%; }
  .sdk-col-sm-offset-6 {
    margin-left: 50%; }
  .sdk-col-sm-offset-7 {
    margin-left: 58.33333%; }
  .sdk-col-sm-offset-8 {
    margin-left: 66.66667%; }
  .sdk-col-sm-offset-9 {
    margin-left: 75%; }
  .sdk-col-sm-offset-10 {
    margin-left: 83.33333%; }
  .sdk-col-sm-offset-11 {
    margin-left: 91.66667%; }
  .sdk-col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 768px) {
  .sdk-col-md-1, .sdk-col-md-2, .sdk-col-md-3, .sdk-col-md-4, .sdk-col-md-5, .sdk-col-md-6, .sdk-col-md-7, .sdk-col-md-8, .sdk-col-md-9, .sdk-col-md-10, .sdk-col-md-11, .sdk-col-md-12 {
    float: left; }
  .sdk-col-md-1 {
    width: 8.33333%; }
  .sdk-col-md-2 {
    width: 16.66667%; }
  .sdk-col-md-3 {
    width: 25%; }
  .sdk-col-md-4 {
    width: 33.33333%; }
  .sdk-col-md-5 {
    width: 41.66667%; }
  .sdk-col-md-6 {
    width: 50%; }
  .sdk-col-md-7 {
    width: 58.33333%; }
  .sdk-col-md-8 {
    width: 66.66667%; }
  .sdk-col-md-9 {
    width: 75%; }
  .sdk-col-md-10 {
    width: 83.33333%; }
  .sdk-col-md-11 {
    width: 91.66667%; }
  .sdk-col-md-12 {
    width: 100%; }
  .sdk-col-md-offset-0 {
    margin-left: 0%; }
  .sdk-col-md-offset-1 {
    margin-left: 8.33333%; }
  .sdk-col-md-offset-2 {
    margin-left: 16.66667%; }
  .sdk-col-md-offset-3 {
    margin-left: 25%; }
  .sdk-col-md-offset-4 {
    margin-left: 33.33333%; }
  .sdk-col-md-offset-5 {
    margin-left: 41.66667%; }
  .sdk-col-md-offset-6 {
    margin-left: 50%; }
  .sdk-col-md-offset-7 {
    margin-left: 58.33333%; }
  .sdk-col-md-offset-8 {
    margin-left: 66.66667%; }
  .sdk-col-md-offset-9 {
    margin-left: 75%; }
  .sdk-col-md-offset-10 {
    margin-left: 83.33333%; }
  .sdk-col-md-offset-11 {
    margin-left: 91.66667%; }
  .sdk-col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .sdk-col-lg-1, .sdk-col-lg-2, .sdk-col-lg-3, .sdk-col-lg-4, .sdk-col-lg-5, .sdk-col-lg-6, .sdk-col-lg-7, .sdk-col-lg-8, .sdk-col-lg-9, .sdk-col-lg-10, .sdk-col-lg-11, .sdk-col-lg-12 {
    float: left; }
  .sdk-col-lg-1 {
    width: 8.33333%; }
  .sdk-col-lg-2 {
    width: 16.66667%; }
  .sdk-col-lg-3 {
    width: 25%; }
  .sdk-col-lg-4 {
    width: 33.33333%; }
  .sdk-col-lg-5 {
    width: 41.66667%; }
  .sdk-col-lg-6 {
    width: 50%; }
  .sdk-col-lg-7 {
    width: 58.33333%; }
  .sdk-col-lg-8 {
    width: 66.66667%; }
  .sdk-col-lg-9 {
    width: 75%; }
  .sdk-col-lg-10 {
    width: 83.33333%; }
  .sdk-col-lg-11 {
    width: 91.66667%; }
  .sdk-col-lg-12 {
    width: 100%; }
  .sdk-col-lg-offset-0 {
    margin-left: 0%; }
  .sdk-col-lg-offset-1 {
    margin-left: 8.33333%; }
  .sdk-col-lg-offset-2 {
    margin-left: 16.66667%; }
  .sdk-col-lg-offset-3 {
    margin-left: 25%; }
  .sdk-col-lg-offset-4 {
    margin-left: 33.33333%; }
  .sdk-col-lg-offset-5 {
    margin-left: 41.66667%; }
  .sdk-col-lg-offset-6 {
    margin-left: 50%; }
  .sdk-col-lg-offset-7 {
    margin-left: 58.33333%; }
  .sdk-col-lg-offset-8 {
    margin-left: 66.66667%; }
  .sdk-col-lg-offset-9 {
    margin-left: 75%; }
  .sdk-col-lg-offset-10 {
    margin-left: 83.33333%; }
  .sdk-col-lg-offset-11 {
    margin-left: 91.66667%; }
  .sdk-col-lg-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .sdk-col-xl-1, .sdk-col-xl-2, .sdk-col-xl-3, .sdk-col-xl-4, .sdk-col-xl-5, .sdk-col-xl-6, .sdk-col-xl-7, .sdk-col-xl-8, .sdk-col-xl-9, .sdk-col-xl-10, .sdk-col-xl-11, .sdk-col-xl-12 {
    float: left; }
  .sdk-col-xl-1 {
    width: 8.33333%; }
  .sdk-col-xl-2 {
    width: 16.66667%; }
  .sdk-col-xl-3 {
    width: 25%; }
  .sdk-col-xl-4 {
    width: 33.33333%; }
  .sdk-col-xl-5 {
    width: 41.66667%; }
  .sdk-col-xl-6 {
    width: 50%; }
  .sdk-col-xl-7 {
    width: 58.33333%; }
  .sdk-col-xl-8 {
    width: 66.66667%; }
  .sdk-col-xl-9 {
    width: 75%; }
  .sdk-col-xl-10 {
    width: 83.33333%; }
  .sdk-col-xl-11 {
    width: 91.66667%; }
  .sdk-col-xl-12 {
    width: 100%; }
  .sdk-col-xl-offset-0 {
    margin-left: 0%; }
  .sdk-col-xl-offset-1 {
    margin-left: 8.33333%; }
  .sdk-col-xl-offset-2 {
    margin-left: 16.66667%; }
  .sdk-col-xl-offset-3 {
    margin-left: 25%; }
  .sdk-col-xl-offset-4 {
    margin-left: 33.33333%; }
  .sdk-col-xl-offset-5 {
    margin-left: 41.66667%; }
  .sdk-col-xl-offset-6 {
    margin-left: 50%; }
  .sdk-col-xl-offset-7 {
    margin-left: 58.33333%; }
  .sdk-col-xl-offset-8 {
    margin-left: 66.66667%; }
  .sdk-col-xl-offset-9 {
    margin-left: 75%; }
  .sdk-col-xl-offset-10 {
    margin-left: 83.33333%; }
  .sdk-col-xl-offset-11 {
    margin-left: 91.66667%; }
  .sdk-col-xl-offset-12 {
    margin-left: 100%; } }

/**
 * sdk Panel module
 */
.sdk-panel {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 0;
  background-color: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12); }
  .sdk-panel:before, .sdk-panel:after {
    content: " ";
    display: table; }
  .sdk-panel:after {
    clear: both; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .sdk-panel {
      box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.12), -1px 0px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12); } }
  @supports (-ms-ime-align: auto) {
    .sdk-panel {
      box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.12), -1px 0px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12); } }

/**
 * sdk Select Component
 */
.sdk-select {
  display: block;
  padding-top: 15px;
  margin-bottom: 20px;
  position: relative; }
  .sdk-select:focus {
    outline: 0; }
    .sdk-select:focus > select {
      height: 33px;
      margin-bottom: -1px;
      border-color: #2196F3;
      border-width: 2px; }
  .sdk-select > select {
    display: block;
    height: 32px;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 0px;
    box-shadow: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNiIgd2lkdGg9IjEwIj48cG9seWdvbiBwb2ludHM9IjAsMCAxMCwwIDUsNiIgc3R5bGU9ImZpbGw6cmdiYSgwLDAsMCwuMjQpOyIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
    padding: 0 25px 0 0; }
    .sdk-select > select::-ms-expand {
      display: none; }
    .sdk-select > select:focus {
      outline: 0;
      height: 33px;
      margin-bottom: -1px;
      border-color: #2196F3;
      border-width: 2px; }
    .sdk-select > select:disabled {
      color: rgba(0, 0, 0, 0.38);
      cursor: not-allowed;
      background-color: transparent;
      opacity: 1; }
    .sdk-select > select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000; }
    .sdk-select > select:focus::-ms-value {
      background: none;
      color: rgba(0, 0, 0, 0.87); }
  .sdk-select > label {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.sdk-select:focus > label,
.sdk-select > select:focus ~ label {
  color: #2196F3; }

.sdk-select__menu {
  position: absolute;
  z-index: 2;
  min-width: 100%;
  overflow-y: auto;
  padding: 8px 0;
  background-color: #FFF;
  font-size: 16px; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .sdk-select__menu {
      border-left: 1px solid rgba(0, 0, 0, 0.12);
      border-top: 1px solid rgba(0, 0, 0, 0.12); } }
  @supports (-ms-ime-align: auto) {
    .sdk-select__menu {
      border-left: 1px solid rgba(0, 0, 0, 0.12);
      border-top: 1px solid rgba(0, 0, 0, 0.12); } }
  .sdk-select__menu > div {
    padding: 0 22px;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
    white-space: nowrap; }
    .sdk-select__menu > div.sdk--is-selected {
      background-color: #EEEEEE; }
    .sdk-select__menu > div.sdk--is-disabled {
      color: rgba(0, 0, 0, 0.38);
      cursor: not-allowed; }
    .sdk-select__menu > div:not(.sdk-optgroup__label):not(.sdk--is-disabled):hover {
      background-color: #E0E0E0; }

.sdk-optgroup__option {
  text-indent: 1em; }

.sdk-optgroup__label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.9em; }

/**
 * sdk Table Component
 */
.sdk-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px; }
  .sdk-table > thead > tr > th,
  .sdk-table > tbody > tr > th,
  .sdk-table > tfoot > tr > th {
    text-align: left; }
  .sdk-table > thead > tr > th,
  .sdk-table > thead > tr > td,
  .sdk-table > tbody > tr > th,
  .sdk-table > tbody > tr > td,
  .sdk-table > tfoot > tr > th,
  .sdk-table > tfoot > tr > td {
    padding: 10px;
    line-height: 1.429; }
  .sdk-table > thead > tr > th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    font-weight: 700; }
  .sdk-table > tbody + tbody {
    border-top: 2px solid rgba(0, 0, 0, 0.12); }
  .sdk-table.sdk-table--bordered > tbody > tr > td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

/**
 * sdk Tabs module
 */
.sdk-tabs__bar {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  background-color: transparent;
  white-space: nowrap;
  overflow-x: auto; }
  .sdk-tabs__bar > li {
    display: inline-block; }
    .sdk-tabs__bar > li > a {
      display: block;
      white-space: nowrap;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.87);
      cursor: default;
      height: 48px;
      line-height: 48px;
      padding-left: 24px;
      padding-right: 24px;
      user-select: none; }
      .sdk-tabs__bar > li > a:hover {
        text-decoration: none; }
    .sdk-tabs__bar > li.sdk--is-active {
      border-bottom: 2px solid #2196F3; }
      .sdk-tabs__bar > li.sdk--is-active > a {
        color: #2196F3; }
  .sdk-tabs__bar.sdk-tabs__bar--justified {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .sdk-tabs__bar.sdk-tabs__bar--justified > li {
      display: table-cell; }
      .sdk-tabs__bar.sdk-tabs__bar--justified > li > a {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px; }

.sdk-tabs__pane {
  display: none; }
  .sdk-tabs__pane.sdk--is-active {
    display: block; }

/**
 * sdk Textfield Component
 */
.sdk-textfield {
  display: block;
  padding-top: 15px;
  margin-bottom: 20px;
  position: relative; }
  .sdk-textfield > label {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .sdk-textfield > textarea {
    padding-top: 5px; }
  .sdk-textfield > input:focus ~ label,
  .sdk-textfield > textarea:focus ~ label {
    color: #2196F3; }

.sdk-textfield--float-label > label {
  position: absolute;
  transform: translate(0px, 15px);
  font-size: 16px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.26);
  text-overflow: clip;
  cursor: text;
  pointer-events: none; }

.sdk-textfield--float-label > input:focus ~ label,
.sdk-textfield--float-label > textarea:focus ~ label {
  transform: translate(0px, 0px);
  font-size: 12px;
  line-height: 15px;
  text-overflow: ellipsis; }

.sdk-textfield--float-label > input:not(:focus).sdk--is-not-empty ~ label, .sdk-textfield--float-label > input:not(:focus)[value]:not([value=""]):not(.sdk--is-empty):not(.sdk--is-not-empty) ~ label, .sdk-textfield--float-label > input:not(:focus):not(:empty):not(.sdk--is-empty):not(.sdk--is-not-empty) ~ label,
.sdk-textfield--float-label > textarea:not(:focus).sdk--is-not-empty ~ label,
.sdk-textfield--float-label > textarea:not(:focus)[value]:not([value=""]):not(.sdk--is-empty):not(.sdk--is-not-empty) ~ label,
.sdk-textfield--float-label > textarea:not(:focus):not(:empty):not(.sdk--is-empty):not(.sdk--is-not-empty) ~ label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  line-height: 15px;
  transform: translate(0px, 0px);
  text-overflow: ellipsis; }

.sdk-textfield--wrap-label {
  display: table;
  width: 100%;
  padding-top: 0px; }
  .sdk-textfield--wrap-label:not(.sdk-textfield--float-label) > label {
    display: table-header-group;
    position: static;
    white-space: normal;
    overflow-x: visible; }

.sdk-textfield > input,
.sdk-textfield > textarea {
  box-sizing: border-box;
  display: block;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  outline: none;
  width: 100%;
  padding: 0;
  box-shadow: none;
  border-radius: 0px;
  font-size: 16px;
  font-family: inherit;
  line-height: inherit;
  background-image: none; }
  .sdk-textfield > input:focus,
  .sdk-textfield > textarea:focus {
    border-color: #2196F3;
    border-width: 2px; }
  .sdk-textfield > input:disabled, .sdk-textfield > input:read-only,
  .sdk-textfield > textarea:disabled,
  .sdk-textfield > textarea:read-only {
    cursor: not-allowed;
    background-color: transparent;
    opacity: 1; }
  .sdk-textfield > input::placeholder,
  .sdk-textfield > textarea::placeholder {
    color: rgba(0, 0, 0, 0.26);
    opacity: 1; }

.sdk-textfield > input {
  height: 32px; }
  .sdk-textfield > input:focus {
    height: 33px;
    margin-bottom: -1px; }

.sdk-textfield > textarea {
  min-height: 64px; }
  .sdk-textfield > textarea[rows]:not([rows="2"]):focus {
    margin-bottom: -1px; }

.sdk-textfield > input:focus {
  height: 33px;
  margin-bottom: -1px; }

.sdk-textfield > input:invalid:not(:focus):not(:required), .sdk-textfield > input:invalid:not(:focus):required.sdk--is-not-empty, .sdk-textfield > input:invalid:not(:focus):required.sdk--is-empty.sdk--is-touched, .sdk-textfield > input:invalid:not(:focus):required[value]:not([value=""]):not(.sdk--is-empty):not(.sdk--is-not-empty), .sdk-textfield > input:invalid:not(:focus):required:not(:empty):not(.sdk--is-empty):not(.sdk--is-not-empty),
.sdk-textfield > textarea:invalid:not(:focus):not(:required),
.sdk-textfield > textarea:invalid:not(:focus):required.sdk--is-not-empty,
.sdk-textfield > textarea:invalid:not(:focus):required.sdk--is-empty.sdk--is-touched,
.sdk-textfield > textarea:invalid:not(:focus):required[value]:not([value=""]):not(.sdk--is-empty):not(.sdk--is-not-empty),
.sdk-textfield > textarea:invalid:not(:focus):required:not(:empty):not(.sdk--is-empty):not(.sdk--is-not-empty),
.sdk-textfield > input:not(:focus).sdk--is-invalid:not(:required),
.sdk-textfield > input:not(:focus).sdk--is-invalid:required.sdk--is-not-empty,
.sdk-textfield > input:not(:focus).sdk--is-invalid:required.sdk--is-empty.sdk--is-touched,
.sdk-textfield > input:not(:focus).sdk--is-invalid:required[value]:not([value=""]):not(.sdk--is-empty):not(.sdk--is-not-empty),
.sdk-textfield > input:not(:focus).sdk--is-invalid:required:not(:empty):not(.sdk--is-empty):not(.sdk--is-not-empty),
.sdk-textfield > textarea:not(:focus).sdk--is-invalid:not(:required),
.sdk-textfield > textarea:not(:focus).sdk--is-invalid:required.sdk--is-not-empty,
.sdk-textfield > textarea:not(:focus).sdk--is-invalid:required.sdk--is-empty.sdk--is-touched,
.sdk-textfield > textarea:not(:focus).sdk--is-invalid:required[value]:not([value=""]):not(.sdk--is-empty):not(.sdk--is-not-empty),
.sdk-textfield > textarea:not(:focus).sdk--is-invalid:required:not(:empty):not(.sdk--is-empty):not(.sdk--is-not-empty) {
  border-color: #F44336;
  border-width: 2px; }

.sdk-textfield > input:invalid:not(:focus):not(:required), .sdk-textfield > input:invalid:not(:focus):required.sdk--is-not-empty, .sdk-textfield > input:invalid:not(:focus):required.sdk--is-empty.sdk--is-touched, .sdk-textfield > input:invalid:not(:focus):required[value]:not([value=""]):not(.sdk--is-empty):not(.sdk--is-not-empty), .sdk-textfield > input:invalid:not(:focus):required:not(:empty):not(.sdk--is-empty):not(.sdk--is-not-empty),
.sdk-textfield > input:not(:focus).sdk--is-invalid:not(:required),
.sdk-textfield > input:not(:focus).sdk--is-invalid:required.sdk--is-not-empty,
.sdk-textfield > input:not(:focus).sdk--is-invalid:required.sdk--is-empty.sdk--is-touched,
.sdk-textfield > input:not(:focus).sdk--is-invalid:required[value]:not([value=""]):not(.sdk--is-empty):not(.sdk--is-not-empty),
.sdk-textfield > input:not(:focus).sdk--is-invalid:required:not(:empty):not(.sdk--is-empty):not(.sdk--is-not-empty) {
  height: 33px;
  margin-bottom: -1px; }

.sdk-textfield.sdk-textfield--float-label > input:invalid:not(:focus):not(:required) ~ label, .sdk-textfield.sdk-textfield--float-label > input:invalid:not(:focus):required.sdk--is-not-empty ~ label, .sdk-textfield.sdk-textfield--float-label > input:invalid:not(:focus):required[value]:not([value=""]):not(.sdk--is-empty):not(.sdk--is-not-empty) ~ label, .sdk-textfield.sdk-textfield--float-label > input:invalid:not(:focus):required:not(:empty):not(.sdk--is-empty):not(.sdk--is-not-empty) ~ label,
.sdk-textfield.sdk-textfield--float-label > textarea:invalid:not(:focus):not(:required) ~ label,
.sdk-textfield.sdk-textfield--float-label > textarea:invalid:not(:focus):required.sdk--is-not-empty ~ label,
.sdk-textfield.sdk-textfield--float-label > textarea:invalid:not(:focus):required[value]:not([value=""]):not(.sdk--is-empty):not(.sdk--is-not-empty) ~ label,
.sdk-textfield.sdk-textfield--float-label > textarea:invalid:not(:focus):required:not(:empty):not(.sdk--is-empty):not(.sdk--is-not-empty) ~ label {
  color: #F44336; }

.sdk-textfield:not(.sdk-textfield--float-label) > input:invalid:not(:focus):not(:required) ~ label, .sdk-textfield:not(.sdk-textfield--float-label) > input:invalid:not(:focus):required.sdk--is-empty.sdk--is-touched ~ label, .sdk-textfield:not(.sdk-textfield--float-label) > input:invalid:not(:focus):required.sdk--is-not-empty ~ label,
.sdk-textfield:not(.sdk-textfield--float-label) > textarea:invalid:not(:focus):not(:required) ~ label,
.sdk-textfield:not(.sdk-textfield--float-label) > textarea:invalid:not(:focus):required.sdk--is-empty.sdk--is-touched ~ label,
.sdk-textfield:not(.sdk-textfield--float-label) > textarea:invalid:not(:focus):required.sdk--is-not-empty ~ label {
  color: #F44336; }

.sdk-textfield.sdk-textfield--float-label > .sdk--is-invalid.sdk--is-not-empty:not(:focus) ~ label {
  color: #F44336; }

.sdk-textfield:not(.sdk-textfield--float-label) > .sdk--is-invalid:not(:focus) ~ label {
  color: #F44336; }

/**
 * sdk Helpers module
 */
.sdk--no-transition {
  transition: none !important; }

.sdk--no-user-select {
  user-select: none; }

.sdk-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.sdk--text-left {
  text-align: left !important; }

.sdk--text-right {
  text-align: right !important; }

.sdk--text-center {
  text-align: center !important; }

.sdk--text-justify {
  text-align: justify !important; }

.sdk--text-nowrap {
  white-space: nowrap !important; }

.sdk--align-baseline {
  vertical-align: baseline !important; }

.sdk--align-top {
  vertical-align: top !important; }

.sdk--align-middle {
  vertical-align: middle !important; }

.sdk--align-bottom {
  vertical-align: bottom !important; }

.sdk--text-dark {
  color: rgba(0, 0, 0, 0.87); }

.sdk--text-dark-secondary {
  color: rgba(0, 0, 0, 0.54); }

.sdk--text-dark-hint {
  color: rgba(0, 0, 0, 0.38); }

.sdk--text-light {
  color: #FFF; }

.sdk--text-light-secondary {
  color: rgba(255, 255, 255, 0.7); }

.sdk--text-light-hint {
  color: rgba(255, 255, 255, 0.3); }

.sdk--text-accent {
  color: rgba(255, 64, 129, 0.87); }

.sdk--text-accent-secondary {
  color: rgba(255, 64, 129, 0.54); }

.sdk--text-accent-hint {
  color: rgba(255, 64, 129, 0.38); }

.sdk--text-black {
  color: #000; }

.sdk--text-white {
  color: #FFF; }

.sdk--text-danger {
  color: #F44336; }

.sdk--bg-primary {
  background-color: #2196F3; }

.sdk--bg-primary-dark {
  background-color: #1976D2; }

.sdk--bg-primary-light {
  background-color: #BBDEFB; }

.sdk--bg-accent {
  background-color: #FF4081; }

.sdk--bg-accent-dark {
  background-color: #F50057; }

.sdk--bg-accent-light {
  background-color: #FF80AB; }

.sdk--bg-danger {
  background-color: #F44336; }

.sdk-list--unstyled {
  padding-left: 0;
  list-style: none; }

.sdk-list--inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px; }
  .sdk-list--inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

.sdk--z1, .sdk-dropdown__menu, .sdk-select__menu {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.sdk--z2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.sdk--z3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.sdk--z4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.sdk--z5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.sdk--clearfix:before, .sdk--clearfix:after {
  content: " ";
  display: table; }

.sdk--clearfix:after {
  clear: both; }

.sdk--pull-right {
  float: right !important; }

.sdk--pull-left {
  float: left !important; }

.sdk--hide {
  display: none !important; }

.sdk--show {
  display: block !important; }

.sdk--invisible {
  visibility: hidden; }

.sdk--overflow-hidden {
  overflow: hidden !important; }

.sdk--overflow-hidden-x {
  overflow-x: hidden !important; }

.sdk--overflow-hidden-y {
  overflow-y: hidden !important; }

.sdk--visible-xs-block,
.sdk--visible-xs-inline,
.sdk--visible-xs-inline-block,
.sdk--visible-sm-block,
.sdk--visible-sm-inline,
.sdk--visible-sm-inline-block,
.sdk--visible-md-block,
.sdk--visible-md-inline,
.sdk--visible-md-inline-block,
.sdk--visible-lg-block,
.sdk--visible-lg-inline,
.sdk--visible-lg-inline-block,
.sdk--visible-xl-block,
.sdk--visible-xl-inline,
.sdk--visible-xl-inline-block {
  display: none !important; }

@media (max-width: 543px) {
  .sdk-visible-xs {
    display: block !important; }
  table.sdk-visible-xs {
    display: table; }
  tr.sdk-visible-xs {
    display: table-row !important; }
  th.sdk-visible-xs,
  td.sdk-visible-xs {
    display: table-cell !important; }
  .sdk--visible-xs-block {
    display: block !important; }
  .sdk--visible-xs-inline {
    display: inline !important; }
  .sdk--visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 544px) and (max-width: 767px) {
  .sdk-visible-sm {
    display: block !important; }
  table.sdk-visible-sm {
    display: table; }
  tr.sdk-visible-sm {
    display: table-row !important; }
  th.sdk-visible-sm,
  td.sdk-visible-sm {
    display: table-cell !important; }
  .sdk--visible-sm-block {
    display: block !important; }
  .sdk--visible-sm-inline {
    display: inline !important; }
  .sdk--visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sdk-visible-md {
    display: block !important; }
  table.sdk-visible-md {
    display: table; }
  tr.sdk-visible-md {
    display: table-row !important; }
  th.sdk-visible-md,
  td.sdk-visible-md {
    display: table-cell !important; }
  .sdk--visible-md-block {
    display: block !important; }
  .sdk--visible-md-inline {
    display: inline !important; }
  .sdk--visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sdk-visible-lg {
    display: block !important; }
  table.sdk-visible-lg {
    display: table; }
  tr.sdk-visible-lg {
    display: table-row !important; }
  th.sdk-visible-lg,
  td.sdk-visible-lg {
    display: table-cell !important; }
  .sdk--visible-lg-block {
    display: block !important; }
  .sdk--visible-lg-inline {
    display: inline !important; }
  .sdk--visible-lg-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .sdk-visible-xl {
    display: block !important; }
  table.sdk-visible-xl {
    display: table; }
  tr.sdk-visible-xl {
    display: table-row !important; }
  th.sdk-visible-xl,
  td.sdk-visible-xl {
    display: table-cell !important; }
  .sdk--visible-xl-block {
    display: block !important; }
  .sdk--visible-xl-inline {
    display: inline !important; }
  .sdk--visible-xl-inline-block {
    display: inline-block !important; } }

@media (max-width: 543px) {
  .sdk--hidden-xs {
    display: none !important; } }

@media (min-width: 544px) and (max-width: 767px) {
  .sdk--hidden-sm {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sdk--hidden-md {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sdk--hidden-lg {
    display: none !important; } }

@media (min-width: 1200px) {
  .sdk--hidden-xl {
    display: none !important; } }

.sdk-scrlock--showbar-y {
  overflow-y: scroll !important; }

.sdk-scrlock--showbar-x {
  overflow-x: scroll !important; }

/**
 * sdk Overlay module
 */
#sdk-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto; }

/**
 * sdk Ripple module
 */
.sdk-btn__ripple-container {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none; }

.sdk-ripple {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.0001, 0.0001); }
  .sdk-ripple.sdk--is-animating {
    transform: none;
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), width 0.3s cubic-bezier(0, 0, 0.2, 1), height 0.3s cubic-bezier(0, 0, 0.2, 1), opacity 0.3s cubic-bezier(0, 0, 0.2, 1); }
  .sdk-ripple.sdk--is-visible {
    opacity: 0.3; }

.sdk-btn .sdk-ripple {
  background-color: #a6a6a6; }

.sdk-btn--primary .sdk-ripple {
  background-color: #FFF; }

.sdk-btn--dark .sdk-ripple {
  background-color: #FFF; }

.sdk-btn--danger .sdk-ripple {
  background-color: #FFF; }

.sdk-btn--accent .sdk-ripple {
  background-color: #FFF; }

.sdk-btn--flat .sdk-ripple {
  background-color: #a6a6a6; }

/**
 * sdk Typography module
 */
.sdk--text-display4 {
  font-weight: 300;
  font-size: 112px;
  line-height: 112px; }

.sdk--text-display3 {
  font-weight: 400;
  font-size: 56px;
  line-height: 56px; }

.sdk--text-display2 {
  font-weight: 400;
  font-size: 45px;
  line-height: 48px; }

.sdk--text-display1 {
  font-weight: 400;
  font-size: 34px;
  line-height: 40px; }

.sdk--text-headline {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px; }

.sdk--text-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px; }

.sdk--text-subhead {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; }

.sdk--text-body2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px; }

.sdk--text-body1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px; }

.sdk--text-caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px; }

.sdk--text-menu {
  font-weight: 500;
  font-size: 13px;
  line-height: 17px; }

.sdk--text-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase; }
