// Begin styles for the menuItems in the Drawer Component
.menuItem {
  display: flex;
  .statusIcons {
    background-color: blue;
    display: flex;
    flex: 2;
    i {
      width: 24px;
    }
    .content {
      flex: 1;
    }
    .caret {
      &.down {}
      &.up {}
    }
  }
  .viz {
    &.closed {

    }
  }
  .fixedContainer {
    flex: 1;
    top: 16px !important;
    background-color: green;
    display: flex !important;
    position: static !important;
    justify-content: flex-end;
    width: 110px;
    i {
      // flex: 1;
      padding: 0 6px;
      background-color: orange;
    }
  }
  .settings {

  }
  .zoomTo {

  }
}
.menuItem + div {
  // padding: 0 0 0 10px !important;
}
