* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
}


/* Begin Examples CSS */
body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: .5rem;
}

#header {
  margin-bottom: 10px;
  height: 57px;
  background-color: #ededed;
  border-bottom: solid 2px #f58d50;
  padding: 11px 5px;
  padding-left: 12px;

}

#header .desc {
  font-size: 20px;
  vertical-align: top;
  margin-top: .5rem;
  display: inline-block;
  padding-left: .5rem;
}

#map .sdk-map {
  width: 100%;
  height: 480px;
}

#controls button {
  margin: 5px;
  font-size: .85rem;
}
#controls p {
  margin-bottom: 10px;
}
#controls .input {
  padding-right: 10px;
}

#controls .control-panel {
  margin-bottom: 10px;
}

#controls .control-panel h4 {
  margin-bottom: 6px;
}

.examples {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
 .examples li {
   /* border: solid 1px #333; */
   color: #d2d2d2;
   width: 30%;
   padding: 1rem;
   margin: 1rem;
   background-color: #29728d;
   box-shadow: 2px 2px 2px 0px #ccc;
   cursor: pointer;
   cursor: hand;
 }

 .examples a {
  color: #bbd34a;
  display: inline-block;
  padding-bottom: 6px;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}
.description {
  display: flex;
}

.description #controls, .description .info {
  margin: 1rem;

}
.description #controls {
  flex: 1;
  order: 2;
}
.description .info {
  flex: 1;
  order: 1;
}
.description h3 {
  margin-bottom: .5rem;
  color: #757575;
  border-bottom: solid 1px #757575;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}
.description .info li {
  margin-bottom: .45rem;
  margin-left: 1rem;
  list-style: square;
}
