// Add Layer Styles
.addLayer-fileField {
  position: relative;
  .icon {
    position: absolute !important;
    right: 0px;
    top: 20px;
    padding: 10px;
  }
}
.layer-title-empty {
  font-style: italic;
}
