.add-layer-dropzonehelp {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.add-layer-filename {
  color: red;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dropzone {
  height: 300px;
  border-width: 2px;
  border-color: #666;
  border-style: dashed;
  border-radius: 5px;
}
