.slider-box {
  max-height: 300px;
  max-width: 300px;
  overflow: auto;
}
.story-panel {
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.7);
  border-radius: 5px;
  border: 1px solid #000000;
  top: 100px;
  left: 50px;
  min-width: 400px;
  z-index: 100;
}
