.headerIcons {
  color: #ffffff !important;
  svg {
    color: #ffffff !important;
  }
  &.active {
    color: #404040 !important;
  }
}
.sidedrawer-toggle {
  color: #555;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}
