.menuIcon {
  top: 4px !important;
  text-align: center;
}
.menuItem {
  display: flex !important;
  flex: 1;
  color: #666666 !important;
  font-size: 14px !important;

  .statusIcons {
    display: flex;
    flex: 2;
    i {
      width: 24px;
      font-size: 16px;
    }
    .content {
      flex: 1;
    }
    .caret {
      &.down {}
      &.up {}
    }
    .layer-list-name {
      overflow: hidden;
      width: 170px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &.n1 {
    .statusIcons {
      .fa-fw {
        width: 3em !important;
      }
      .layer-list-name {
        width: 146px;
      }
    }
  }
  .viz {
    &.closed {
    }
  }
  .fixedContainer {
    top: 16px !important;
    display: flex !important;
    position: static !important;
    justify-content: flex-end;
    width: 110px;
    i {
      width: 24px;
      position: static !important;
      text-align: center;
      font-size: 16px;
    }
    .iconContainer {
      margin:0 ;
      width: 19px !important;
      div {
        display: block !important;
        div {
          height: 12px !important;
        }
      }
    }
  }
  .settings {

  }
  .zoomTo {

  }
  &>div {
    flex: 1;
  }
}
.menuItem + div {
  // padding: 0 0 0 10px !important;
}
.noBorderPaper {
  margin: 20px;
}

// Added for Muting Options that are intended to have a look of being disabled
.muted, .muted .ms {
  color: #a5a4a4 !important;
}

.left-drawer-titleBar {
  background-color: #00bcd4 !important;
}

.iconSpan {
  width: 48px;
}

.fa-fw-2 {
  width: 2.4em;
  text-align: center;
}
