.legend {
  text-align: left;
}
.legend-panel {
  border: 1px solid #cccccc;
  height: auto;
  margin-right: 38px;
  min-width: 250px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.legend .legend-panel {
  display: none;
}
.legend.shown .legend-panel {
  display: block;
}
.legendbutton {
  float: right;
}
