<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {{> icons }}
    <link rel="stylesheet" type="text/css" href="../sdk.css"/>
    <link rel="stylesheet" type="text/css" href="../examples.css"/>
    {{{ extraHead.local }}}
    {{{ css.tag }}}
  </head>
  <body>
    <div id="header">
      <div class="headerContainer">
        <span class="logo">
          <a href="../"><img src="../boundless_sdk_horiz.svg" width="120"></a>
        </span>
        <span class="desc">
          <ul>
            <li><a href="../examples.html">Examples</a></li>
            <li><a href="/docs">Documentation</a></li>
            <li><a href="">Download</a></li>
          </ul>
        </span>
      </div>
    </div>
    <div class="contentContainer">
      <h1>{{ shortdesc }}</h1>
      <div id="map"></div>
      <div class="description">
        {{{ contents }}}
        <div class="info">
          <h3>Features in this demo</h3>
          <ul class="info-list">
            {{ md docs }}
          </ul>
        </div>
      </div>
    </div>
    {{{ js.tag }}}
  </body>
</html>
