<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {{> icons }}
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="sdk.css"/>
    <link rel="stylesheet" type="text/css" href="examples.css"/>
    {{{ extraHead.local }}}
    {{{ css.tag }}}
  </head>
  <body>
    <div id="header">
      <div class="headerContainer">
        <span class="logo">
          <img src="boundless_sdk_horiz.svg" width="120">
        </span>
        <span class="desc">
          <ul>
            <li><a href="examples.html">Examples</a></li>
            <li><a href="/docs">Documentation</a></li>
            <li><a href="">Download</a></li>
          </ul>
        </span>
      </div>
    </div>
    <div class="contentContainer">
      <h1>{{ pageTitle }}</h1>
      <div class="description">
        {{{ contents }}}
      </div>
    </div>
  </body>
</html>
