.slick-prev:before, .slick-next:before {
  color: grey;
}
.slick-list {
  max-height: 450px;
  max-width: 450px;
}
.story-panel {
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.7);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #000000;
  top: 100px;
  left: 50px;
  min-width: 400px;
  z-index: 100
}
