.row-selected .public_fixedDataTableCell_main {
  background-color: yellow;
}

.btn-default{
	height: 42px;
}

.input-group-addon{
  padding: 0px 12px;
}

.form-inline .input-group{
	padding: 10px;
}

label{
	margin-bottom: 0px;
}

input[type="radio"], input[type="checkbox"]{
	margin: 4px 4px 0px;
}
