.layer-switcher {
  position: absolute;
  top: 3.5em;
  right: 0.5em;
  text-align: left;
}
.layer-switcher .layer-tree-panel {
  display: none;
}
.layer-switcher.shown .layer-tree-panel {
  display: block;
}
.layer-switcher button {
  float: right;
  width: 38px;
  height: 38px;
  background-color: #7b98bc;
  background-color: rgba(0,60,136,.5);
  border: none;
}
.layer-switcher button:focus, .layer-switcher button:hover {
  background-color: white;
}
.layer-tree-panel {
  padding-right: 50px;
  border: 1px solid #cccccc;
  background-color: white;
  overflow: auto;
}
.layer-tree-panel  li {
  list-style-type:none;
  margin:0;
  padding:10px 5px 10px 5px;
  position:relative;
}
.layer-tree-panel  li::before, .layer-tree-panel  li::after {
  content:'';
  left:-20px;
  position:absolute;
  right:auto
}
.layer-tree-panel  li::before {
  border-left:1px solid #999;
  bottom:50px;
  height:100%;
  top:0;
  width:1px
}
.layer-tree-panel  li::after {
  border-top:1px solid #999;
  height:20px;
  top:25px;
  width:25px
}
.layer-tree-panel  li span {
  display:inline-block;
  padding:3px 8px;
  text-decoration:none
}
.layer-tree-panel  li.parent_li>span {
  cursor:pointer
}
.layer-tree-panel >ul>li::before, .layer-tree-panel >ul>li::after {
  border:0
}
.layer-tree-panel  li:last-child::before {
  height:30px
}
.layer-zoom-to {
  padding-left: 15px;
}
.layer-move-up {
  padding-left: 15px;
}
.layer-move-down {
  padding-left: 15px;
}
.layer-download {
  padding-left: 15px;
}
.layer-remove {
  padding-left: 15px;
}
