.layer-switcher {
  position: absolute;
  top: 3.5em;
  right: 0.5em;
  text-align: left;
  max-width: 450px;
}
.layer-switcher .layer-tree-panel {
  display: none;
}
.layer-switcher.shown .layer-tree-panel {
  display: block;
}
.layerlistbutton {
  color: white;
  float: right;
  width: 38px;
  height: 38px;
  background-color: #7b98bc;
  border: 3px solid rgba(225, 225, 220, 0.8);
  padding: 2px;
}
.layerlistbutton button:focus, .layerlistbutton button:hover {
  background-color: white;
}
.layer-list-header {
  color: rgba(0,0,0,0.54);
  background-color: white;
  padding: 16px;
}
.layer-tree-panel {
  padding-right: 30px;
  border: 1px solid #cccccc;
  background-color: white;
  max-height: 450px;
  margin-right: 38px;
  overflow-y: auto;
}
.layer-tree-panel li {
  list-style-type: none;
}

.layer-tree-panel li span {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
}
.layer-tree-panel li.parent_li>span {
  cursor: pointer;
}
.layer-tree-panel >ul>li::before, .layer-tree-panel >ul>li::after {
  border: 0;
}
.layer-tree-panel  li:last-child::before {
  height: 30px;
}
