.form-select{
	color: rgb(27, 120, 179);
    background-color: rbg(255,255,255);
    font-family: 'Source Sans Pro', SourceSansPro, sans-serif;
    font-size: 16px;
    font-weight: 600;
	border-radius: 4px;
	box-shadow: none;
    line-height: 24px;
  	height: 34px;
  	border: 0.75px solid #D4D9D9;
  /*padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
 
  
  
 /* box-sizing: border-box; */
}

