.layer-switcher {
  z-index: 1100;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: left;
  max-width: 450px;
}
.layer-switcher .layer-tree-panel {
  display: none;
}
.layer-switcher.shown .layer-tree-panel {
  display: block;
}
.layerlistbutton {
  z-index: 1100;
  float: right;
}
.layer-list-header {
  padding: 16px;
}
.layer-tree-panel {
  border: 1px solid #cccccc;
  max-height: 450px;
  margin-right: 38px;
  overflow-y: auto;
}
.layer-tree-panel li {
  list-style-type: none;
}

.layer-tree-panel li span {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
}
.layer-tree-panel li.parent_li>span {
  cursor: pointer;
}
.layer-tree-panel >ul>li::before, .layer-tree-panel >ul>li::after {
  border: 0;
}
.layer-tree-panel  li:last-child::before {
  height: 30px;
}
