html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; }

.matButton {
  left: 350px;
  position: absolute; }

.menuItem .statusIcons {
  display: flex; }
  .menuItem .statusIcons i {
    width: 24px; }
  .menuItem .statusIcons .content {
    flex: 1; }

.menuItem .fixedContainer {
  top: 16px !important;
  width: 78px;
  display: flex !important; }
  .menuItem .fixedContainer i {
    flex: 1; }

.menuItem + div {
  padding: 0 0 0 10px !important; }
