.playback input {
  height: 36px;
}
input::-webkit-clear-button {
  -webkit-appearance: none;
  margin: 0;
}
#timeline {
	background-color: rgba(255,255,255,.7);
	/*width: 675px;*/
}

/*FireFox Fix*/
@-moz-document url-prefix() {
	#timeline{
		width: 675px;
	}
}

/*Safari Fix*/
_::-webkit-:not(:root:root), #timeline{ 
	width: 675px;
}


