.legend {
  position: absolute;
  top: 7.5em;
  right: 0.5em;
  text-align: left;
}
.legend-panel {
  /*padding-right: 50px;*/
  border: 1px solid #cccccc;
  background-color: white;
  height: auto;
  max-height:500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.legend .legend-panel {
  display: none;
}
.legend.shown .legend-panel {
  display: block;
}
.legend button {
  color: white;
  float: right;
  width: 38px;
  height: 38px;
  background-color: #7b98bc;
  background-color: rgba(0,60,136,.5);
  border: none;
  padding: 2px;
}
.legend button:focus, .legend button:hover {
  background-color: white;
}
.expandableList ul {
  padding: 0 0 0 30px;
  width: 300px;
}
.expandableList li {
  position: relative;
  list-style: none;
  margin-left: -15px;
  margin-top:15px;
  padding: 0;
}
.expandableList li input {
  position: absolute;
  left: 0;
  margin-left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 1em;
  width: 1em;
  top: 0;
}
.expandableList li input + ul {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAURJREFUeNpi/P//PwMlgImBQkCxASwwRlLLKwYmJqZgRkbGbiBXEYva+0Dvlv7792/tvBoxTAO+fv0MororE6UU9VU5MHRfvP1DsX3+M5DhaxkYxDC98ObNGxBW1FVmY/j16xcYu6SdYvjw4QPDixcvGGSEvoLlQeqweuHdu7dg+vfv32D85ctXsNijR4/B4hwcnHA1WA348uUbmP779y+DUchOuIKQsltgetsUE7garAb8/w9h/vz5h+H0Sk8w2yRsN8OZVa5g9ocPn+BqsBrAzs4PdQEzw48ff+Fi375B2Gxs3HA1WNPB45NlDNzcIvfPXv8LVMwJxmdWOcDZF2//A8uD1GF1wefXZ8Q+Pt42oWN+VBED41d5DKv+/30IlJ8IVCcF5D2DCTPC8gIwAXEDKT4Qk0Di+wzU8xnDgKGbmQACDAAtTZadqmiADQAAAABJRU5ErkJggg==') 40px 0px no-repeat;
  margin: -22px 0 0 -44px; /* 15px */
  height: 1em;
}
.expandableList li input + ul > li {
  display: none;
  margin-left:-14px !important;
  padding-left: 1px;
}
.expandableList li label {
  cursor: pointer;
  display: block;
  padding-left: 20px;
}
.expandableList li input {
  display: none;
}
.expandableList li input:checked + ul {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASxJREFUeNpi/P//PwMlgImBQkCxASwwRlLLKwYmJqZgRkbGbiBXEYva+0Dvlv7792/tvBoxTAO+fv0MororE6UU9VU5MHRfvP1DsX3+M5DhaxkYsBjw5s0bEKWoq6zA8OvXL7AYKIC/f//O8OPHDwYZIVaQGqjLlDENePfuLZj+/fs3GH/58pXh/fv3YDYIcHBwwtVgDYMvX76B6b9//zIYhezEULhtiglcDVYD/v+HMH/+/MNweqUnhsIPHz7B1WA1gJ2dH+oCZqCf/2IoZGPjhqvBmg4enyxj4OYWuX/2+l+gYk4MfPH2P7A8SB1WF3x+fUbs4+NtEzrmRxUxMH6Vx7Dq/9+HQPmJQHVSQN4zmDAjLC8AExA3kOIDMQkkvs9APZ8xDBi6mQkgwADDMYZH9Ls66AAAAABJRU5ErkJggg==') 40px 0px no-repeat;
  margin: -22px 0 0 -44px; /* 20px */
  padding: 1.563em 0 0 80px;
  height: auto;
}
.expandableList li input:checked + ul > li {
  display: block;
  margin: 0 0 0.125em; /* 2px */
}
.expandableList li input:checked + ul > li:last-child {
  margin: 0 0 0.063em; /* 1px */
}
