.legend {
  position: absolute;
  top: 7.5em;
  right: 0.5em;
  text-align: left;
}
.legend-panel {
  border: 1px solid #cccccc;
  background-color: white;
  height: auto;
  min-width: 250px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.legend .legend-panel {
  display: none;
}
.legend.shown .legend-panel {
  display: block;
}
